.movieTitle h1 {
  font-size: 45px;
  margin-bottom: auto;
}



.review-link {
  margin-top: 1px;
  display: flex; /* Use flexbox for better positioning */
  align-items: center; /* Align items vertically */
}

.review-link h3 {
  margin-left: 10px; /* Add some space between the link and the heart icon */
  margin-top: .02px;
  font-size: 16px;
  color: white;
}

.heart-icon {
  width: 20px; /* Adjust the size of the heart icon */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 15px;
  margin-left: 10px;
}

.reviews {
  margin-top: 40px;
}

.review h3 {
  margin-top: 0;
  color: red; /* Red color for username, headline, and review */
  margin: 0; /* Remove default margin */
}

.UserReviews h2 {
  text-align: center;
  color: #BE3144;
  margin-bottom: 70px;
}

.banner {
  position: relative;
}

.banner img {
  width: 100%;
  height: 40rem;
  object-fit: cover;
}

.banner h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  text-align: center;
  z-index: 1;
  margin: 2.5rem;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  font-size: 4rem;
  border-radius: 15px;
}








.trailer-icon img {
  width: 30px;
  height: auto;
  margin-right: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px; /* Adjust the margin as needed */
}

.pagination button,
.pagination span {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: #D2364B;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

.pagination button:hover {
  background-color: #BE3144;
}

/* Update dropdown button styles */
.dropbtn {
  background-color: #D2364B; /* Match the background color to the overall theme */
  color: white; /* Text color */
  padding: 5px 15px; /* Adjust padding */
  font-size: 14px; /* Font size */
  line-height: 1.5; /* Increase line height */
  border: none; /* Remove border */
  cursor: pointer; /* Cursor on hover */
  border-radius: 3px; /* Border radius */
}

/* Hover effect */
.dropbtn:hover {
  background-color: #BE3144; /* Darken the background color on hover */
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 15px; /* Add some space between dropdowns */
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff; /* Background color */
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); /* Box shadow */
  z-index: 1;
  border-radius: 5px; /* Border radius */
}

/* Dropdown content items */
.dropdown-content button {
  color: #333; /* Text color */
  padding: 10px 12px; /* Adjust padding */
  font-size: 14px; /* Font size */
  line-height: 1.5; /* Increase line height */
  text-decoration: none; /* Remove underline */
  display: block;
  background-color: transparent; /* Transparent background */
  border: none; /* Remove border */
  width: 100%;
  text-align: left;
  cursor: pointer; /* Cursor on hover */
}

/* Hover effect on dropdown content items */
.dropdown-content button:hover {
  background-color: #f9f9f9; /* Background color on hover */
}

/* Show dropdown content when hovering over dropdown */
.dropdown:hover .dropdown-content {
  display: block;
}

.trailer-button {
  position: relative; /* Change position to relative */
  margin: 20px auto; /* Add margin to center horizontally */
  display: block; /* Make it a block element */
  width: fit-content; /* Set width to fit content */
  background: linear-gradient(180deg, #BE3144, #872341);
  border: none;
  cursor: pointer;
  padding: 20px; /* Reduce vertical padding */
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white; /* Set text color */
  font-weight: bold; /* Make text bold */
  text-decoration: none; /* Remove underline */
  font-size: 16px; /* Adjust font size */
  width: fit-content;
  border: 2px solid #D2364B; /* Border color */
  transition: background 0.3s, transform 0.1s;
}

.trailer-button h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 8rem;
  margin: 0px;
  width: 960px;
  height: 125px;
}

.trailer-button:hover{
  background: linear-gradient(180deg, #9c2535, #6d1f30);
  transform: scale(1.03); /* Increase scale on hover */
}

/* Style for the round bubbles */
.user-review {
  background: linear-gradient(180deg, #BE3144, #872341);
  border: 2px solid #D2364B; /* Border color */
  border-radius: 20px; /* Make it round */
  padding: 20px; /* Add padding for content */
  margin-bottom: 20px; /* Add some space between reviews */
  width: 1000px; /* Set a fixed width for the review box */
}

/* Header style */
.UserReviews h2 {
  font-weight: 350;
  font-size: 4rem;
  padding: 0px;
  color: white;
}

/* Container for user reviews */
.user-reviews-container {
  display: flex;
  flex-direction: column; /* Display reviews in a column */
  align-items: center; /* Center reviews horizontally */
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .user-review {
    width: calc(50% - 20px); /* Make each bubble take half of the container width with some margin */
  }
}

@media (max-width: 480px) {
  .user-review {
    width: calc(100% - 20px); /* Make each bubble take full width with some margin */
  }
}

/* Style for the star rating */
.rating {
  display: inline-block;
  font-size: 20px; /* Adjust the size of the stars */
}

/* Style for the individual star */
.rating span {
  color: gold; /* Color of the stars */
}

/* Adjust the spacing between stars */
.rating span + span {
  margin-left: 20px; /* Adjust as needed */
}